#!/usr/bin/env bash

# Navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias .2='cd ../..'
alias .3='cd ../../..'
alias .4='cd ../../../..'
alias .5='cd ../../../../..'
alias ~='cd ~'
alias -- -='cd -'
alias 1='cd -'
alias 2='cd -2'
alias 3='cd -3'
alias 4='cd -4'
alias 5='cd -5'
alias cd..="cd .."

# Shortcuts
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias doc='cd ~/Documents'
alias p="cd ~/projects"
alias g="git"
alias c="code" #vscode alias
alias d="docker" 
alias di="docker images" 
alias drm="docker rm -f" 
alias drmi="docker rmi -f" 



# Enable aliases to be sudo’ed
alias sudo='sudo '

#   =)
alias please='sudo ' 
alias pls='sudo ' 



# Typos
alias :q='exit'
alias help='man'
alias quit='exit'


# Get week number
alias week='date +%V'

# Get External IP / Internet Speed
alias myip="curl https://ipinfo.io/json" # or /ip for plain-text ip
alias speedtest="curl -s https://raw.githubusercontent.com/sivel/speedtest-cli/master/speedtest.py | python -"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# find . -name .gitattributes | map dirname
alias map="xargs -n1"
